body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  cursor: pointer;
  transition: 1s;
}

.link:hover {
  opacity: .5;
}
